In [8]:
#pip install googletrans==3.1.0a0

Requirement already satisfied: googletrans==3.1.0a0 in /pfs/data5/home/ma/ma_ma/ma_syoo/miniconda3/envs/mmds/lib/python3.10/site-packages (3.1.0a0)
Requirement already satisfied: httpx==0.13.3 in /pfs/data5/home/ma/ma_ma/ma_syoo/miniconda3/envs/mmds/lib/python3.10/site-packages (from googletrans==3.1.0a0) (0.13.3)
Requirement already satisfied: httpcore==0.9.* in /pfs/data5/home/ma/ma_ma/ma_syoo/miniconda3/envs/mmds/lib/python3.10/site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (0.9.1)
Requirement already satisfied: rfc3986<2,>=1.3 in /pfs/data5/home/ma/ma_ma/ma_syoo/miniconda3/envs/mmds/lib/python3.10/site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.5.0)
Requirement already satisfied: certifi in /pfs/data5/home/ma/ma_ma/ma_syoo/miniconda3/envs/mmds/lib/python3.10/site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2022.9.24)
Requirement already satisfied: chardet==3.* in /pfs/data5/home/ma/ma_ma/ma_syoo/miniconda3/envs/mmds/lib/python3.10/site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (3.0.4)
Requirement already satisfied: hstspreload in /pfs/data5/home/ma/ma_ma/ma_syoo/miniconda3/envs/mmds/lib/python3.10/site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2022.11.1)
Requirement already satisfied: sniffio in /pfs/data5/home/ma/ma_ma/ma_syoo/miniconda3/envs/mmds/lib/python3.10/site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (1.2.0)
Requirement already satisfied: idna==2.* in /pfs/data5/home/ma/ma_ma/ma_syoo/miniconda3/envs/mmds/lib/python3.10/site-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Requirement already satisfied: h2==3.* in /pfs/data5/home/ma/ma_ma/ma_syoo/miniconda3/envs/mmds/lib/python3.10/site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.2.0)
Requirement already satisfied: h11<0.10,>=0.8 in /pfs/data5/home/ma/ma_ma/ma_syoo/miniconda3/envs/mmds/lib/python3.10/site-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (0.9.0)
Requirement already satisfied: hpack<4,>=3.0 in /pfs/data5/home/ma/ma_ma/ma_syoo/miniconda3/envs/mmds/lib/python3.10/site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (3.0.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /pfs/data5/home/ma/ma_ma/ma_syoo/miniconda3/envs/mmds/lib/python3.10/site-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==3.1.0a0) (5.2.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from googletrans import Translator

In [14]:
import googletrans
from googletrans import Translator

translator = Translator()
text2 = "Die Vorlesung über Suchmaschinen ist großartig!"
print(translator.detect(text2))
print(translator.translate(text2))

Detected(lang=de, confidence=1)
Translated(src=de, dest=en, text=The lecture on search engines is great!, pronunciation=The lecture on search engines is great!, extra_data="{'translat...")

In [18]:
translator.detect(df['ABSTRACT_'][6]).lang

'ht'

In [3]:
import re
import numpy as np
import sys
import os
import pandas as pd
import string
import matplotlib.pyplot as plt 
from tqdm import tqdm

In [4]:
df= pd.read_csv("output_narrow.csv")
def remove_punctuations(text):
    try:
        for punctuation in string.punctuation:
            text = text.replace(punctuation, '')
    except:
        pass
    return text
df['TITLE_'] = [remove_punctuations(i) for i in df['TITLE'].values]
df['ABSTRACT_'] = [remove_punctuations(i) for i in df['ABSTRACT'].values]

# Google Translator

## Detection

In [19]:
from googletrans import Translator
def language_detector(text):   
    translator = Translator()
    try:
        return translator.detect(text).lang
    except:
        return None

In [21]:
language_detector([df['TITLE_'][5]])

In [ ]:
title_lan = []
for i in tqdm(range(df.shape[0])):
    if df['TITLE_'][i] != 'nan':
        try:
            title_lan.append(translator.translate(df['TITLE_'][i], src=df['TITLE_lan'][i], dest='en').text)
        except:
            title_lan.append(df['TITLE_'][i])
    else:
        title_lan.append(df['TITLE_'][i])

In [7]:
language_detector(df['TITLE_'][5])

'de'

In [22]:
df['TITLE_lan'] = [language_detector(i) for i in tqdm(df['TITLE_'].values)]

100%|██████████| 10000/10000 [14:22<00:00, 11.59it/s]

In [24]:
df.to_csv('(usingGoogle)detected_title.csv')

In [25]:
df['ABSTRACT_lan'] = [language_detector(i) for i in tqdm(df['ABSTRACT_'].values)]

100%|██████████| 10000/10000 [08:17<00:00, 20.11it/s]

In [27]:
df.to_csv('(usingGoogle)final_detected_title.csv')

## Translation

In [28]:
from googletrans import Translator
ranslator = Translator()

title_en = []
for i in tqdm(range(df.shape[0])):
    if df['TITLE_lan'][i] != 'en':
        try:
            title_en.append(translator.translate(df['TITLE_'][i], src=df['TITLE_lan'][i], dest='en').text)
        except:
            title_en.append(df['TITLE_'][i])
    else:
        title_en.append(df['TITLE_'][i])

100%|██████████| 10000/10000 [03:58<00:00, 41.92it/s]

In [30]:
df['title_en'] = title_en
df.to_csv('(usingGoogle)translated_title.csv')

In [31]:
from googletrans import Translator
translator = Translator()

abstract_en = []
for i in tqdm(range(df.shape[0])):
    if df['ABSTRACT_lan'][i] != 'en':
        try:
            abstract_en.append(translator.translate(df['ABSTRACT_'][i], src=df['ABSTRACT_lan'][i], dest='en').text)
        except:
            abstract_en.append(df['ABSTRACT_'][i])
    else:
        abstract_en.append(df['ABSTRACT_'][i])

100%|██████████| 10000/10000 [02:56<00:00, 56.55it/s]

In [32]:
df['abstract_en'] = abstract_en
df.to_csv('(usingGoogle)final_translated.csv')

# Query

In [33]:
query = pd.read_json("livivo_hq_test_100_candidates.jsonl", lines=True)
query

    qid:             qstr                                         candidates
0    943             mbsr  [M30928765, M30928764, M33155250, M30137607, M...
1    925           gender  [M32275910, NLM101312283, M10231258, M33595817...
2    407       einsamkeit  [NLM9707686, NLM9215358, M27924693, M33285613,...
3    123          midwife  [M18612453, M32361389, M33000708, M33537647, M...
4    220              bgm  [M33384475, M33392927, M33634364, M32172590, M...
..   ...              ...                                                ...
95   374  intensivstation  [M33591384, M32431564, M32990764, M33564899, M...
96   264   rettungsdienst  [NLM100964607, NLM9703000, M31801168, M3267142...
97   791       ausbildung  [M33219415, M33640285, M32517595, M32875379, M...
98   399        safewards  [M30675756, M33293305, M32048899, M32691495, M...
99  1172     low AND carb  [M31098613, M29446894, M30694317, M30603299, M...

[100 rows x 3 columns]

In [35]:
query['qstr_lan'] = [language_detector(i) for i in tqdm(query['qstr'].values)]

100%|██████████| 100/100 [00:06<00:00, 15.62it/s]

In [38]:
query

,qid:,qstr,candidates,qstr_lan
0,943,mbsr,"[M30928765, M30928764, M33155250, M30137607, M...",en
1,925,gender,"[M32275910, NLM101312283, M10231258, M33595817...",en
2,407,einsamkeit,"[NLM9707686, NLM9215358, M27924693, M33285613,...",de
3,123,midwife,"[M18612453, M32361389, M33000708, M33537647, M...",en
4,220,bgm,"[M33384475, M33392927, M33634364, M32172590, M...",en
...,...,...,...,...
95,374,intensivstation,"[M33591384, M32431564, M32990764, M33564899, M...",de
96,264,rettungsdienst,"[NLM100964607, NLM9703000, M31801168, M3267142...",de
97,791,ausbildung,"[M33219415, M33640285, M32517595, M32875379, M...",de
98,399,safewards,"[M30675756, M33293305, M32048899, M32691495, M...",en
99,1172,low AND carb,"[M31098613, M29446894, M30694317, M30603299, M...",en

In [42]:
translator = googletrans.Translator()

# non_en_idx = df[df['TITLE_lan']!='en'].index
# non_en_trans = [translator.translate(df['TITLE_'][i], scr=df['TITLE_lan'][i], dest='en') for i in non_en_idx]

query_en = []
for i in tqdm(range(query.shape[0])):
    if query['qstr_lan'][i] != 'en':
        try:
            query_en.append(translator.translate(query['qstr'][i], src=query['qstr_lan'][i], dest='en').text)
        except:
            query_en.append(query['qstr'][i])
    else:
        query_en.append(query['qstr'][i])

100%|██████████| 100/100 [00:02<00:00, 39.39it/s]

In [37]:
#plt.bar(query['qstr_lan'].value_counts(normalize=True).keys(),query['qstr_lan'].value_counts(normalize=True).values)

In [44]:
query['qstr_en'] =query_en
query.to_csv('(usingGoogle)final_query_translated.csv')